h1{
    color:whitesmoke;
    text-align: center;
    background-color:darkred;
    
}
h2{
    color:dimgray;
    text-align: center;
    background-color:lightcyan
}
h3{
    color:teal;
}
p{
    color:navy;
    text-align: center;
}
a{
    color:royalblue;
}
body{
    background-image:url(../images/b072.jpg);
}

